.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

textarea {
  width: 100%;
  font-family: monospace;
  padding: 1rem;
  background: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  margin-top: 1rem;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #5546FF;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  background-color: #3e32b8;
}

.wasm-result {
    font-family: monospace;
    word-break: break-all;
    background: #eee;
    padding: 1rem;
    max-height: 200px;
    overflow-y: auto;
}
